---
import Layout from "../../layouts/Layout.astro";
import {
  getPodcastFeed,
  buildTitle,
  episodePagination,
} from "../../utils";
import Menu from "../../components/Menu.astro";
import Search from "../../components/search";
import EpisodeCard from "../../components/EpisodeCard.astro";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths() {
  const { episodes } = await getPodcastFeed(
    "https://www.spreaker.com/show/4173756/episodes/feed"
  );

  const pagination = episodePagination(episodes);

  return pagination.pages.map((page, index) => ({
    params: {page: page.param},
    props: {
      episodes: episodes.slice(20 * index, 20 * (index +1)),
      pagination,
      currentPage: index + 1
    }
  }));
}

const { episodes, currentPage, pagination } = Astro.props;
const { page } = Astro.params;
---

<Layout
  seo={{
    canonical: page === 'page-1' ? '/' : `/episodes/${page}`,
    title: buildTitle('Tutti gli episodi - Pagina ' + currentPage),
    description: 'Gitbar è il podcast per sviluppatori italiani dedicato alla programmazione e allo sviluppo web. Ogni giovedì un nuovo argomento con brainrepo.',
    image: '/mauro.png',
  }}
>
  <main class="relative lg:min-h-screen flex flex-col">
    <Menu />
    <Search client:load />
    <ul
      role="list"
      class="max-w-4xl 4xl:max-w-7xl mx-auto w-full p-2 sm:p-4 md:p-8 lg:p-8 grid 4xl:grid-cols-2 gap-2"
    >
      {episodes.map((e) => <EpisodeCard {...e} />)}
    </ul>

    <Pagination currentPage={currentPage} pages={pagination.pages} />
  </main>
</Layout>
