---
import EpisodeCard from "../components/EpisodeCard.astro";
import Hosts from "../components/Hosts.astro";
import Layout from "../layouts/Layout.astro";
import { getPodcastFeed } from "../utils";
import { SEO } from "astro-seo";

const data = await getPodcastFeed(
  "https://www.spreaker.com/show/4173756/episodes/feed"
)
---

<Layout title="Gitbar - Il podcast dei developer italiani">
  <main>
    <SEO
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.ico" }],
    
    meta: [
      {
        name: "twitter:image",
        content:
          "/mauro.png",
      },
      { name: "twitter:title", content: "Gitbar - Il podcast dei developer italiani" },
      { name: "title", content: "Gitbar - Il podcast dei developer italiani" },
      { name: "twitter:description", content: "Gitbar è il podcast per sviluppatori italiani dedicato alla programmazione e allo sviluppo web. Ogni giovedì un nuovo argomento con brainrepo."},
      { name: "description", content: "Gitbar è il podcast per sviluppatori italiani dedicato alla programmazione e allo sviluppo web. Ogni giovedì un nuovo argomento con brainrepo."},
      { name: "author", content: "brainrepo"},
      { name: "og:type", content: "website"},
      { name: "og:image", content: "/mauro.png"},
      { name: "og:url", content: "https://www.gitbar.it"},
      { name: "theme-color", content: "#F1C410"},
      {name: "image", content: "/mauro.png"}
    ],
  }}
/>
    <div class="lg:hidden pb-3">
      here hosts and more
      <Hosts />
    </div>
    
    <ul
      role="list"
      class="max-w-4xl 4xl:max-w-7xl mx-auto w-full p-2 sm:p-4 md:p-8 lg:p-8 grid 4xl:grid-cols-2 gap-2"
    >
      {data.episodes.slice(0, 10).map((e) => <EpisodeCard {...e} />)}
    </ul>
  </main>
</Layout>
