<a href="/" class="bg-slate-800 lg:rounded-r-lg lg:rounded-xl lg:fixed top-20  lg:absolute text-white  hover:text-yellow-400  transition-all hover:shadow lg:hover:-translate-x-2 lg:-left-8 2xl:-left-12 lg:mt-8 lg:mt-6  shadow-lg lg:z-40 px-5 h-16 flex items-center justify-center">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="">
        <path d="M9 15L3 9M3 9L9 3M3 9H15C16.5913 9 18.1174 9.63214 19.2426 10.7574C20.3679 11.8826 21 13.4087 21 15C21 16.5913 20.3679 18.1174 19.2426 19.2426C18.1174 20.3679 16.5913 21 15 21H12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="px-3 font-semibold hidden 2xl:block">BACK</span>
</a>

