---
import Hosts from "./Hosts.astro";
import { Image } from "@astrojs/image/components";
---

<header
  class="header sticky lg:max-h-screen z-30 top-0 shadow lg:p-6 bg-yellow-400 lg:flex lg:w-86 lg:items-start lg:overflow-y-auto xl:w-120"
>
  <div
    class="max-w-4xl 4xl:max-w-7xl mx-auto p-3 flex lg:flex-col space-x-3 lg:space-x-0 items-center lg:space-y-6 relative z-10 lg:min-h-full lg:flex-auto  lg:px-8 xl:px-12"
  >
    <a
      class="flex-grow-0 h-16 w-16 md:h-20 md:w-20 lg:h-64 lg:w-64"
      aria-label="Homepage"
      href="/"
      >
      <Image src={`mauro.png`} class="h-16 md:h-20 lg:h-64 object-contain object-center image transition-all" width={300} height={330} alt="Gitbar logo" /> 
    </a>
    <div class="lg:mt-12 text-left details space-y-0.5">
      <h1 class="text-lg md:text-xl lg:text-4xl leading-none lg:text-center text-gray-900">
       <span class="font-bold">Gitbar</span> Italian developer podcast
      </h1>
      <p class=" text-xs sm:text-sm lg:text-lg lg:text-center leading-none text-gray-800 opacity-60">
        Conversazioni sullo sviluppo software fatte davanti a una birra.
      </p>
    </div>
    <section class="hidden lg:block">
      <p class="mt-2 text-base leading-7 text-gray-800">
        L'idea alla base di gitbar è quella di creare un podcast in italiano
        dedicato alla programmazione e sviluppo web. Un piccolo punto di ritrovo
        per fullstack developer. Parleremo di php laravel e symfony, javascript
        e VueJS, angular o react, di continuous integration, deployment, docker,
        kubernetes, scrum fino ad arrivare al machine learning e alla blockchain
        che come sapete sono un pò come il prezzemolo e ci stan bene su tutto.
        Parleremo anche della vita dello sviluppatore, pattern e non technical
        skills.
      </p>
    </section>
    <div class="hidden lg:block">
      <Hosts />
    </div>
    
  </div>
</header>
