---
import { Image } from "@astrojs/image/components";
import Hosts from "./Hosts.astro";

---

<header
  class="sticky lg:max-h-screen z-30 top-0 p-6 bg-yellow-400 lg:flex lg:w-86 lg:items-start lg:overflow-y-auto xl:w-120"
>
  <div
    class="space-y-6 relative z-10 mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:min-h-full lg:flex-auto  lg:px-8 xl:px-12"
  >
    <a
      class="relative mx-auto block overflow-hidden"
      aria-label="Homepage"
      href="/"
      ><img
        alt=""
        src="https://www.gitbar.it/static/151751c7a7795ca87f026014fc95f835/2a4de/me.png"
        width="960"
        height="960"
        decoding="async"
        data-nimg="future"
        class="w-full h-64 object-contain object-center"
        style="color:transparent"
      />
    </a>
    <div class="mt-10 text-center lg:mt-12 lg:text-left">
      <h1 class="text-4xl text-gray-900">
       <span class="font-bold">Gitbar</span> Italian developer podcast
      </h1>
      <p class="mt-3 text-lg italic leading-8 text-gray-800">
        Conversazioni sullo sviluppo software fatte davanti a una birra.
      </p>
    </div>
    <section class="hidden lg:block">
      <p class="mt-2 text-base leading-7 text-gray-800">
        L'idea alla base di gitbar è quella di creare un podcast in italiano
        dedicato alla programmazione e sviluppo web. Un piccolo punto di ritrovo
        per fullstack developer. Parleremo di php laravel e symfony, javascript
        e VueJS, angular o react, di continuous integration, deployment, docker,
        kubernetes, scrum fino ad arrivare al machine learning e alla blockchain
        che come sapete sono un pò come il prezzemolo e ci stan bene su tutto.
        Parleremo anche della vita dello sviluppatore, pattern e non technical
        skills.
      </p>
    </section>
    <div class="hidden lg:block">
      <Hosts />
    </div>
    
  </div>
</header>
