---
interface Props {
  currentPage: number;
  pages: Array<{
    link: string;
  }>;
}

const { currentPage, pages } = Astro.props;
---

<div class="flex items-center justify-center px-4 py-4 mb-12 sm:px-6">
  <nav
    class="isolate inline-flex -space-x-px rounded-md shadow-sm"
    aria-label="Pagination"
  >
    {
      currentPage > 1 ? (
        <a
          href={pages[currentPage - 2].link}
          class="relative inline-flex items-center rounded-l-md border border-slate-800 px-2 py-2 text-sm font-medium text-gray-500 hover:bg-yellow-400 focus:z-20"
        >
          <span class="sr-only">Pagina precedente</span>
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      ) : null
    }
    {
      pages.map((page, index) => (
        <a
          href={page.link}
          aria-current={index + 1 === currentPage ? "page" : undefined}
          class={`relative hidden items-center border  px-4 py-2 text-sm font-medium hover:bg-yellow-400 focus:z-20 md:inline-flex border-slate-800 text-slate-800 ${
            index + 1 === currentPage ? "bg-yellow-400" : ""
          }`}
        >
          {index + 1}
        </a>
      ))
    }

    {
      currentPage < pages.length ? (
        <a
          href={pages[currentPage].link}
          class="relative inline-flex items-center rounded-r-md border border-slate-800 px-2 py-2 text-sm font-medium text-slate-800 hover:bg-yellow-400 focus:z-20"
        >
          <span class="sr-only">Pagina successiva</span>
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      ) : null
    }
  </nav>
</div>
